.note{
    font-size: 15px;
    color: black;
}
.heading{
    font-size: 35px;
    width: 100%;
    margin: 0px;
}
body{
    background-size: cover;
}
.name{
    font-size: 27px;
    width: 20%;
    background-color: red;
    margin: 0px;
}
canvas{
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}